<h1 mat-dialog-title>Adicione um novo serviço</h1>
<div mat-dialog-content>
  <p>Diga em poucas palavras</p>
  <mat-form-field>
    <input matInput placeholder="Nome do Serviço" [(value)]="servico.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Descrição" [(value)]="servico.descricao">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Valor" [(value)]="servico.valor">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="servico">Salvar</button>
</div>