<app-menu>
  <div class="main">
      <mat-form-field *ngIf="user.isNutri()" class="col-12 mt-5 mb-3">
          <input matInput placeholder="Paciente" [(ngModel)]="busca" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let pacienteOption of pacientes" [value]="pacienteOption.name" (click)="selecionaPaciente(pacienteOption)">
              {{pacienteOption.name}}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
 
    
    <mat-tab-group class="width100" *ngIf="paciente || user.isNutri()">
        <mat-tab label="Dados Pessoais">
            <form class="container mt-4">
                <mat-form-field *ngIf="true" class="col-12">
                  <input matInput placeholder="Nome" [(ngModel)]="paciente.usuarioPaciente.name" name="name">
                </mat-form-field>
              
                <mat-form-field *ngIf="true" class="col-12">
                  <input matInput placeholder="E-mail" type="email" [(ngModel)]="paciente.usuarioPaciente.email" name="email">
                </mat-form-field>
              
                <mat-form-field *ngIf="true" class="col-12">
                  <input matInput placeholder="CPF" [(ngModel)]="paciente.usuarioPaciente.cpf" name="cpf">
                </mat-form-field>
            
              
                <mat-form-field *ngIf="true" class="col-6">
                  <input matInput type="tel" placeholder="Telefone Residencial" [(ngModel)]="paciente.dadosPaciente.telefone" name="telefone"> 
                </mat-form-field>
              
                <mat-form-field *ngIf="true" class="col-6">
                  <input matInput type="tel" placeholder="Telefone Celular" [(ngModel)]="paciente.dadosPaciente.celular" name="celular">
                </mat-form-field>
              
              
              </form>
        </mat-tab>
        <mat-tab label="Endereço">
            <form class="container mt-4">
                <mat-form-field *ngIf="true" class="col-8">
                  <input matInput placeholder="Endereço" [(ngModel)]="paciente.dadosPaciente.endereco" name="endereco">
                </mat-form-field>
                <button class="col-4" mat-raised-button color="primary" (click)="pesquisarEndereco()">Pequisar</button>
              
              </form>
              <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
                <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
          
        </mat-tab>
        <mat-tab label="Dados Financeiros">
            <form class="container mt-4">
                <mat-form-field *ngIf="true" class="col-6">
                  <input matInput placeholder="Nome impresso no Cartão" [(ngModel)]="paciente.dadosPaciente.nomeCartao" name="nomeCartao">
                </mat-form-field>
              
                <mat-form-field *ngIf="true" class="col-6">
                  <input matInput placeholder="Numero do Cartão"  [(ngModel)]="paciente.dadosPaciente.numeroCartao" name="numeroCartao">
                </mat-form-field>
              
                <mat-form-field *ngIf="true" class="col-4">
                  <input matInput placeholder="Mes Vencimento" [(ngModel)]="paciente.dadosPaciente.mesCartao" name="mesCartao">
                </mat-form-field>
                <mat-form-field *ngIf="true" class="col-4">
                  <input matInput placeholder="Ano Vencimento" [(ngModel)]="paciente.dadosPaciente.anoCartao" name="anoCartao">
                </mat-form-field>
                <mat-form-field *ngIf="true" class="col-4">
                  <input matInput placeholder="CVV" [(ngModel)]="paciente.dadosPaciente.cvvCartao" name="cvvCartao">
                </mat-form-field>
              
                <div class="card">
                  <div class="card__front card__part">
                    <img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                    <img class="card__front-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                    <p class="card_numer">{{paciente.dadosPaciente.numeroCartao?paciente.dadosPaciente.numeroCartao:'0000 **** **** 6258'}}</p>
                    <div class="card__space-75">
                      <span class="card__label">nome</span>
                      <p class="card__info">{{paciente.dadosPaciente.nomeCartao ? paciente.dadosPaciente.nomeCartao : 'TATIANE RIBEIRO'}}</p>
                    </div>
                    <div class="card__space-25">
                      <span class="card__label">valid</span>
                            <p class="card__info">{{paciente.dadosPaciente.mesCartao ? paciente.dadosPaciente.mesCartao : '10' }}/{{paciente.dadosPaciente.anoCartao ? paciente.dadosPaciente.anoCartao : 25}}</p>
                    </div>
                  </div>
                  
                  <div class="card__back card__part">
                    <div class="card__black-line"></div>
                    <div class="card__back-content">
                      <div class="card__secret">
                        <p class="card__secret--last">{{paciente.dadosPaciente.cvvCartao?paciente.dadosPaciente.cvvCartao:'420'}}</p>
                      </div>
                      <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
                      <img class="card__back-logo card__logo" src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
                      
                    </div>
                  </div>
                  
                </div>
              
              </form>
        </mat-tab>
        
    </mat-tab-group>

    <div class="d-flex justify-content-center mt-5">
        <button class="col-4 mr-5" mat-raised-button color="primary" (click)="atualizar()" *ngIf="paciente">Atualizar</button>
        <button class="col-4" mat-raised-button color="warn" (click)="remover(paciente.usuarioPaciente._id)" *ngIf="paciente && user.isNutri()">Apagar</button>
    </div>

  </div>
</app-menu>